.choresText {
   color: #666;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
   font-style: italic;
}

.choresHeading {
   color: #666;
   text-decoration: underline;
}